@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,700);
/* General Styles */
/* line 11, ../_sass/main.sass */
body {
  font-family: "Roboto", serif;
  background: white;
  font-size: 14px;
}
/* line 15, ../_sass/main.sass */
body a:hover {
  text-decoration: none;
}

/* Header Home */
/* line 20, ../_sass/main.sass */
nav {
  position: absolute;
  width: 100%;
  height: 80px;
  line-height: 80px;
  z-index: 100;
}

/* line 27, ../_sass/main.sass */
.menu {
  width: 100%;
  height: 80px;
  line-height: 80px;
  z-index: 10;
  float: right;
}
/* line 33, ../_sass/main.sass */
.menu ul {
  height: 80px;
  line-height: 80px;
}
/* line 36, ../_sass/main.sass */
.menu li {
  list-style: none;
  float: left;
  margin: 0 20px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  letter-spacing: 2px;
}
/* line 44, ../_sass/main.sass */
.menu li a {
  color: #e0e0e0;
}

/* line 47, ../_sass/main.sass */
a.site-title {
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  height: 80px;
  line-height: 80px;
  font-size: 18px;
  color: #e0e0e0;
}

/* line 56, ../_sass/main.sass */
.header-sub {
  color: white;
  text-align: center;
  background-image: url("/img/chisels.jpg") !important;
  background-repeat: no-repeat;
  background-position: 50% top;
  background-size: cover;
}
/* line 63, ../_sass/main.sass */
.header-sub.profile {
  background-image: url("/img/profile.jpg") !important;
  background-position: 50% 50%;
}
/* line 66, ../_sass/main.sass */
.header-sub.blog {
  background-image: url("/img/radio.jpg") !important;
  background-position: 50% 50%;
}
/* line 69, ../_sass/main.sass */
.header-sub > div {
  display: relative;
  vertical-align: middle;
  margin-top: 0;
  margin-bottom: 0;
  float: none;
}

/* line 76, ../_sass/main.sass */
.hero-caption {
  position: relative;
  z-index: 20;
  margin-top: 240px;
}
/* line 80, ../_sass/main.sass */
.hero-caption h5 {
  font-size: 14px;
  letter-spacing: 6px;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0;
  line-height: 60px;
}
/* line 87, ../_sass/main.sass */
.hero-caption h1 {
  margin: 0 0 20px;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 2px;
}
/* line 92, ../_sass/main.sass */
.hero-caption a {
  color: white;
  font-size: 20px;
  padding: 90px 0 0;
}

/* Work */
/* line 99, ../_sass/main.sass */
#work {
  position: relative;
  z-index: 20;
  overflow: hidden;
}
/* line 103, ../_sass/main.sass */
#work > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 107, ../_sass/main.sass */
#work > ul > li.dias, #work > ul li.sheff, #work > ul li.ntrust {
  width: 100%;
  position: relative;
  line-height: 290px;
  cursor: pointer;
  background: black;
  text-align: center;
}
/* line 114, ../_sass/main.sass */
#work > ul > li.dias .workimg, #work > ul li.sheff .workimg, #work > ul li.ntrust .workimg {
  background-image: url("/img/work/dias/dias_header.jpg") !important;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.6;
  -webkit-transition: opacity 0.5s ease-in;
  -moz-transition: opacity 0.5s ease-in;
  -o-transition: opacity 0.5s ease-in;
  transition: opacity 0.5s ease-in;
}
/* line 124, ../_sass/main.sass */
#work > ul > li.dias .workimg:hover, #work > ul > li.dias .workimg:focus, #work > ul li.sheff .workimg:hover, #work > ul li.sheff .workimg:focus, #work > ul li.ntrust .workimg:hover, #work > ul li.ntrust .workimg:focus {
  opacity: 1;
}
/* line 127, ../_sass/main.sass */
#work > ul > li.dias .workimg.sheff, #work > ul li.sheff .workimg.sheff, #work > ul li.ntrust .workimg.sheff {
  background-image: url("/img/work/sheff/cinema.png") !important;
}
/* line 129, ../_sass/main.sass */
#work > ul > li.dias .workimg.nattrust, #work > ul li.sheff .workimg.nattrust, #work > ul li.ntrust .workimg.nattrust {
  background-image: url("/img/work/nat_trust/bridge.jpg") !important;
}

/* line 135, ../_sass/main.sass */
div.work-header {
  position: relative;
  display: inline-block;
  left: 0;
  top: 0;
  text-transform: uppercase;
  color: white;
  vertical-align: middle;
  line-height: 20px;
  margin: 0 auto;
  z-index: 40;
  pointer-events: none;
}
/* line 148, ../_sass/main.sass */
div.work-header h2 {
  margin: 0;
  font-size: 48px;
  font-weight: 400;
  letter-spacing: 2px;
}
/* line 153, ../_sass/main.sass */
div.work-header h3 {
  font-size: 14px;
  letter-spacing: 6px;
  font-weight: 300;
}

/* Footer */
/* line 161, ../_sass/main.sass */
.site-footer {
  background: black;
  color: white;
}
/* line 164, ../_sass/main.sass */
.site-footer h3 {
  text-align: center;
  padding: 10px 0;
}
/* line 167, ../_sass/main.sass */
.site-footer .mail {
  text-align: center;
}
/* line 169, ../_sass/main.sass */
.site-footer .mail a {
  color: white;
}
/* line 171, ../_sass/main.sass */
.site-footer .mail .fa {
  padding: 0 10px;
}
/* line 173, ../_sass/main.sass */
.site-footer .icons {
  text-align: center;
}
/* line 175, ../_sass/main.sass */
.site-footer .icons p {
  display: inline-block;
}
/* line 177, ../_sass/main.sass */
.site-footer .icons a {
  color: white;
}
/* line 179, ../_sass/main.sass */
.site-footer .icons .fa {
  padding: 20px 20px;
}

/* Blog */
