@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,700);
/* General Styles */
/* line 11, ../_sass/main.sass */
body {
  font-family: "Roboto", serif;
  background: white;
  font-size: 14px;
}
/* line 15, ../_sass/main.sass */
body a:hover {
  text-decoration: none;
}
/* line 17, ../_sass/main.sass */
body ul {
  margin-bottom: 0;
  padding: 0;
}

/* line 21, ../_sass/main.sass */
a:-webkit-any-link {
  cursor: auto;
}

/* line 24, ../_sass/main.sass */
html.stopScroll, html.stopScroll body {
  overflow: hidden;
  position: relative;
}

/* Header Home */
/* line 30, ../_sass/main.sass */
nav {
  position: absolute;
  width: 100%;
  height: 80px;
  line-height: 80px;
  z-index: 100;
}

/* line 37, ../_sass/main.sass */
.menu {
  width: 100%;
  height: 80px;
  line-height: 80px;
  z-index: 10;
  float: right;
}
/* line 43, ../_sass/main.sass */
.menu ul {
  height: 80px;
  line-height: 80px;
}
/* line 46, ../_sass/main.sass */
.menu li {
  list-style: none;
  float: left;
  margin: 0 20px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  letter-spacing: 2px;
}
/* line 54, ../_sass/main.sass */
.menu li a {
  color: #e0e0e0;
}

/* line 57, ../_sass/main.sass */
a.site-title {
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  height: 80px;
  line-height: 80px;
  font-size: 18px;
  color: #e0e0e0;
}

/* line 66, ../_sass/main.sass */
.header-sub {
  color: white;
  text-align: center;
  background-image: url("/img/chisels.jpg") !important;
  background-repeat: no-repeat;
  background-position: 50% top;
  background-size: cover;
  position: relative;
}
/* line 74, ../_sass/main.sass */
.header-sub.profile {
  background-image: url("/img/profile.jpg") !important;
  background-position: 50% 50%;
}
/* line 77, ../_sass/main.sass */
.header-sub.blog {
  background-image: url("/img/radio.jpg") !important;
  background-position: 50% 50%;
}
/* line 80, ../_sass/main.sass */
.header-sub > div {
  display: relative;
  vertical-align: middle;
  margin-top: 0;
  margin-bottom: 0;
  float: none;
}

/* line 87, ../_sass/main.sass */
.hero-caption {
  position: relative;
  z-index: 20;
  margin-top: 240px;
}
/* line 91, ../_sass/main.sass */
.hero-caption h5 {
  font-size: 14px;
  letter-spacing: 6px;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0;
  line-height: 60px;
}
/* line 98, ../_sass/main.sass */
.hero-caption h1 {
  margin: 0 0 20px;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 2px;
}
/* line 103, ../_sass/main.sass */
.hero-caption a {
  color: white;
  font-size: 20px;
  padding: 90px 0 0;
}

/* WORK */
/* line 110, ../_sass/main.sass */
section#work {
  position: relative;
  z-index: 20;
  overflow: hidden;
  background: black;
}
/* line 115, ../_sass/main.sass */
section#work > ul > li {
  width: 100%;
  position: relative;
  height: 290px;
  line-height: 290px;
  cursor: pointer;
  background: black;
  text-align: center;
}
/* line 125, ../_sass/main.sass */
section#work li div.work-header {
  position: relative;
  display: inline-block;
  left: 0;
  top: 0;
  text-transform: uppercase;
  color: white;
  vertical-align: middle;
  line-height: 1.2;
  margin: 0 auto;
  z-index: 40;
}
/* line 136, ../_sass/main.sass */
section#work li div.work-header h2 {
  font-size: 48px;
  font-weight: 400;
  letter-spacing: 2px;
  transition: all 0.3s ease;
}
/* line 141, ../_sass/main.sass */
section#work li div.work-header h5 {
  font-size: 14px;
  letter-spacing: 6px;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0;
  line-height: 60px;
}
/* line 148, ../_sass/main.sass */
section#work li div.visual {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
  transition: opacity 0.5s ease-in-out;
}
/* line 156, ../_sass/main.sass */
section#work li:hover .visual {
  opacity: 0.8;
}
/* line 158, ../_sass/main.sass */
section#work li > a {
  display: none;
  height: auto;
  width: auto;
  position: absolute;
  top: 4%;
  color: white;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}
/* line 169, ../_sass/main.sass */
section#work li > a:last-child {
  top: auto;
  bottom: 6%;
  margin-left: -60px;
  left: 48%;
}
/* line 174, ../_sass/main.sass */
section#work li > a:last-child::after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  margin-left: -5px;
  bottom: -20px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid white;
  transition: all 0.3s ease-out;
}
/* line 186, ../_sass/main.sass */
section#work li > a:last-child:hover::after {
  transform: translateY(3px);
}
/* line 188, ../_sass/main.sass */
section#work li div.info {
  position: relative;
  margin: -80px auto;
  height: 60vh;
  text-align: left;
  display: none;
  line-height: 1;
  color: white;
  width: 80vw;
  max-width: 1200px;
}
/* line 198, ../_sass/main.sass */
section#work li div.info li {
  display: inline-block;
  text-transform: uppercase;
}
/* line 201, ../_sass/main.sass */
section#work li div.info li h3 {
  margin-bottom: 5px;
  font-size: 28px;
  letter-spacing: 4px;
}
/* line 205, ../_sass/main.sass */
section#work li div.info li span {
  font-weight: 300;
  font-size: 18px;
  letter-spacing: 2px;
}
/* line 209, ../_sass/main.sass */
section#work li div.info a.out {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 300;
  color: white;
}
/* line 214, ../_sass/main.sass */
section#work li div.info p {
  font-size: 20px;
  line-height: 1.55;
}
/* line 217, ../_sass/main.sass */
section#work li.dias .visual {
  background: url("../img/work/dias/dias_header.jpg") center center no-repeat;
  background-size: cover;
}
/* line 220, ../_sass/main.sass */
section#work li.sheff .visual {
  background: url("../img/work/sheff/cinema.png") center center no-repeat;
  background-size: cover;
}
/* line 223, ../_sass/main.sass */
section#work li.ntrust .visual {
  background: url("../img/work/nat_trust/bridge.jpg") center center no-repeat;
  background-size: cover;
}

/* OPEN */
/* line 231, ../_sass/main.sass */
a.closeBtn {
  position: fixed;
  z-index: 100;
  top: 20px !important;
  left: 20px;
  height: 16px;
  padding-right: 22px;
  text-transform: uppercase;
  line-height: 10px;
  font-size: 16px;
  color: white;
  display: none;
}
/* line 243, ../_sass/main.sass */
a.closeBtn::before {
  content: "";
  width: 16px;
  height: 3px;
  background-color: white;
  position: absolute;
  top: 5px;
  right: 0;
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}
/* line 256, ../_sass/main.sass */
a.closeBtn::after {
  content: "";
  width: 16px;
  height: 3px;
  background-color: white;
  position: absolute;
  top: 5px;
  right: 0;
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
  -webkit-transform: rotateZ(-45deg);
  -moz-transform: rotateZ(-45deg);
  -o-transform: rotateZ(-45deg);
  -ms-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
}

/* line 276, ../_sass/main.sass */
section#work li.loading {
  cursor: default;
  overflow: hidden;
  position: relative;
  z-index: 35;
}
/* line 281, ../_sass/main.sass */
section#work li.loading .visual {
  opacity: 0.35;
  background-size: cover;
}
/* line 285, ../_sass/main.sass */
section#work li.loading .work-header h2 {
  font-size: 50px;
  margin-top: -40px;
}
/* line 288, ../_sass/main.sass */
section#work li.loading .work-header h3 {
  opacity: 0;
}
/* line 290, ../_sass/main.sass */
section#work li.openWork {
  opacity: 1;
  font-size: 16px;
}
/* line 294, ../_sass/main.sass */
section#work li.openWork div.info {
  display: block;
}
/* line 297, ../_sass/main.sass */
section#work li.dias div.info ul, section#work li.sheff div.info ul, section#work li.ntrust div.info ul {
  width: 200px;
  position: absolute;
  top: 50%;
  margin-top: -150px;
  right: 0;
}
/* line 303, ../_sass/main.sass */
section#work li.dias div.info ul li, section#work li.sheff div.info ul li, section#work li.ntrust div.info ul li {
  display: block;
  margin-bottom: 20px;
}
/* line 306, ../_sass/main.sass */
section#work li.dias div.info .desc, section#work li.sheff div.info .desc, section#work li.ntrust div.info .desc {
  width: 380px;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -110px;
}
/* line 312, ../_sass/main.sass */
section#work li.dias div.info .before, section#work li.sheff div.info .before, section#work li.ntrust div.info .before {
  opacity: 0;
  width: 571px;
  height: 637px;
  background: url("../img/work/dias/imac_dias.png") no-repeat;
  position: absolute;
  left: 45%;
  margin-left: -245px;
  top: 50%;
  margin-top: -350px;
  transform: scale(0.5);
  transition: all 3s ease-out;
  background: url("../img/work/dias/imac_sheffield.png") no-repeat;
}
/* line 326, ../_sass/main.sass */
section#work li.dias div.info ul, section#work li.dias div.info .desc, section#work li.sheff div.info ul, section#work li.sheff div.info .desc, section#work li.ntrust div.info ul, section#work li.ntrust div.info .desc {
  opacity: 0;
  transition: all 0.9s ease-out;
}
/* line 329, ../_sass/main.sass */
section#work li.dias div.info ul, section#work li.sheff div.info ul, section#work li.ntrust div.info ul {
  -webkit-transform: translateX(5px);
  -moz-transform: translateX(5px);
  -ms-transform: translateX(5px);
  -o-transform: translateX(5px);
  transform: translateX(5px);
}
/* line 335, ../_sass/main.sass */
section#work li.dias div.info .desc, section#work li.sheff div.info .desc, section#work li.ntrust div.info .desc {
  -webkit-transform: translateX(-5px);
  -moz-transform: translateX(-5px);
  -ms-transform: translateX(-5px);
  -o-transform: translateX(-5px);
  transform: translateX(-5px);
}
/* line 341, ../_sass/main.sass */
section#work li.dias div.info ul.reveal, section#work li.dias div.info .desc.reveal, section#work li.sheff div.info ul.reveal, section#work li.sheff div.info .desc.reveal, section#work li.ntrust div.info ul.reveal, section#work li.ntrust div.info .desc.reveal {
  opacity: 1;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
/* line 348, ../_sass/main.sass */
section#work li.dias div.info .before.reveal, section#work li.sheff div.info .before.reveal, section#work li.ntrust div.info .before.reveal {
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

/* CASE STUDY */
/* line 361, ../_sass/main.sass */
section#work li.dias div.info ul, section#work li.sheff div.info ul, section#work li.ntrust div.info ul {
  width: 200px;
  position: absolute;
  top: 50%;
  margin-top: -150px;
  right: 0;
}
/* line 367, ../_sass/main.sass */
section#work li.dias div.info ul li, section#work li.sheff div.info ul li, section#work li.ntrust div.info ul li {
  display: block;
  margin-bottom: 20px;
}
/* line 370, ../_sass/main.sass */
section#work li.dias div.info .desc, section#work li.sheff div.info .desc, section#work li.ntrust div.info .desc {
  width: 380px;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -110px;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1px;
}
/* line 379, ../_sass/main.sass */
section#work li.dias div.info .before, section#work li.sheff div.info .before, section#work li.ntrust div.info .before {
  opacity: 0;
  width: 571px;
  height: 637px;
  background: url("../img/work/dias/imac_dias.png") no-repeat;
  position: absolute;
  left: 50%;
  margin-left: -245px;
  top: 50%;
  margin-top: -350px;
  -webkit-transform: scale(0.4);
  -moz-transform: scale(0.97);
  -ms-transform: scale(0.97);
  -o-transform: scale(0.97);
  transform: scale(0.4);
  transition: all 0.4s ease-out;
  background: url("../img/work/sheff/imac_sheffield.png") no-repeat;
}
/* line 397, ../_sass/main.sass */
section#work li.dias div.info ul, section#work li.dias div.info .desc, section#work li.sheff div.info ul, section#work li.sheff div.info .desc, section#work li.ntrust div.info ul, section#work li.ntrust div.info .desc {
  opacity: 0;
  transition: all 0.9s ease-out;
}
/* line 400, ../_sass/main.sass */
section#work li.dias div.info ul, section#work li.sheff div.info ul, section#work li.ntrust div.info ul {
  -webkit-transform: translateX(5px);
  -moz-transform: translateX(5px);
  -ms-transform: translateX(5px);
  -o-transform: translateX(5px);
  transform: translateX(5px);
}
/* line 406, ../_sass/main.sass */
section#work li.dias div.info .desc, section#work li.sheff div.info .desc, section#work li.ntrust div.info .desc {
  -webkit-transform: translateX(-5px);
  -moz-transform: translateX(-5px);
  -ms-transform: translateX(-5px);
  -o-transform: translateX(-5px);
  transform: translateX(-5px);
}
/* line 412, ../_sass/main.sass */
section#work li.dias div.info ul.reveal, section#work li.dias div.info .desc.reveal, section#work li.sheff div.info ul.reveal, section#work li.sheff div.info .desc.reveal, section#work li.ntrust div.info ul.reveal, section#work li.ntrust div.info .desc.reveal {
  opacity: 1;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
/* line 419, ../_sass/main.sass */
section#work li.dias div.info .before.reveal, section#work li.sheff div.info .before.reveal, section#work li.ntrust div.info .before.reveal {
  opacity: 1;
  -webkit-transform: scale(7);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(0.7);
}

/* Footer */
/* line 491, ../_sass/main.sass */
.interact {
  background: black;
  color: white;
  height: 190px;
  z-index: 1;
}
/* line 496, ../_sass/main.sass */
.interact h3 {
  text-align: center;
  padding: 10px 0;
}
/* line 499, ../_sass/main.sass */
.interact .mail {
  text-align: center;
}
/* line 501, ../_sass/main.sass */
.interact .mail a {
  color: white;
}
/* line 503, ../_sass/main.sass */
.interact .mail .fa {
  padding: 0 10px;
}
/* line 505, ../_sass/main.sass */
.interact .icons {
  text-align: center;
}
/* line 507, ../_sass/main.sass */
.interact .icons p {
  display: inline-block;
}
/* line 509, ../_sass/main.sass */
.interact .icons a {
  color: white;
}
/* line 511, ../_sass/main.sass */
.interact .icons .fa {
  padding: 20px 20px;
}
