<footer class="site-footer">

      <section class="interact">
        <div class="container">
          <h2>Be Social</h2>
          <div class="row">
            <div class="col-sm-2">
              <p>
                <a href="mailto:{{ site.email }}">{{ site.email }}</a>
              </p>
            </div>
            <div class="col-sm-2">
              <p>
                <a href="#"><i class="fa fa-facebook fa-3x"></i></a>
              </p>
            </div>
             <div class="col-sm-2">
              <p>
                <a href="#"><i class="fa fa-twitter fa-3x"></i></a>
              </p>
            </div>
            <div class="col-sm-2">
              <p>
                <a href="#"><i class="fa fa-linkedin fa-3x"></i></a>
              </p>
            </div>
              <div class="col-sm-2">
              <p>
                <a href="#"><i class="fa fa-github fa-3x"></i></a>
              </p>
            </div>
         </div>
        </div>
      </section>
  </footer>
</body>
</html>





<!--
      <div class="wrap">

    <h2 class="footer-heading">{{ site.title }}</h2>



    <div class="footer-col-2 column">
      <ul>
        {% if site.github_username %}<li>
          <a href="https://github.com/{{ site.github_username }}">
            <span class="username">{{ site.github_username }}</span>
          </a>
        </li>{% endif %}
        {% if site.twitter_username %}<li>
          <a href="https://twitter.com/{{ site.twitter_username }}">
            <span class="icon twitter">
            <span class="username">{{ site.twitter_username }}</span>
          </a>
        </li>{% endif %}
      </ul>
    </div>

    <div class="footer-col-3 column">
      <p class="text">{{ site.description }}</p>
    </div>

  </div> -->