
      <section class="interact">
        <div class="container">
          <h3>Be Social</h3>
          <div class="row">
            <div class="mail">
              <p>
                <a href="mailto:{{ site.email }}"><i class="fa fa-envelope fa-1x"></i>{{ site.email }}</a>
              </p>
            </div>
          </div>
          <div class="row">
            <div class="icons">
              <p>
                <a href="https://twitter.com/{{ site.twitter_username }}"><i class="fa fa-twitter fa-2x"></i></a>
              </p>
              <p>
                <a href="#"><i class="fa fa-linkedin fa-2x"></i></a>
              </p>
              <p>
                <a href="https://github.com/{{ site.github_username }}"><i class="fa fa-github fa-2x"></i></a>
              </p>
            </div>
         </div>
        </div>
      </section>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="{{ "/js/jquery.velocity.min.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/js/dias_videoFill.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/js/script.js" | prepend: site.baseurl }}"></script>
</body>
</html>





<!--
      <div class="wrap">

    <h2 class="footer-heading">{{ site.title }}</h2>



    <div class="footer-col-2 column">
      <ul>
        {% if site.github_username %}<li>
          <a href="https://github.com/{{ site.github_username }}">
            <span class="username">{{ site.github_username }}</span>
          </a>
        </li>{% endif %}
        {% if site.twitter_username %}<li>
          <a href="https://twitter.com/{{ site.twitter_username }}">
            <span class="icon twitter">
            <span class="username">{{ site.twitter_username }}</span>
          </a>
        </li>{% endif %}
      </ul>
    </div>

    <div class="footer-col-3 column">
      <p class="text">{{ site.description }}</p>
    </div>

  </div> -->