<body>
  <div class="page wrapper">
    <nav class="navigation header-10">
      <div class="container">
        <div class="col-sm-12">
          <div class="pull-left">
            <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
          </div>
          <div class="pull-right">
            {% assign sorted_pages = site.pages | sort:"name" %}
            {% for node in sorted_pages %}
              <a href="{{node.url}}">{{node.title}}</a>
            {% endfor %}
          </div>
        </div>
      </div>
    </nav>






