  {% include head.html %}
    {% include header.html %}
      <section class="header-sub center parallax" style="height:779px;">
        <div>
          <div class="container">
            <div class="hero-caption default">
              <h5>Hello, I am</h5>
              <h1>Joe Hobson</h1>
              <h5>Front-End Developer</h5>
              <a class="glyphicon glyphicon-chevron-down" href="#work"></a>
            </div>
          </div>
        </div>
      </section>
      {{ content }}


    {% include footer.html %}



