  {% include head.html %}
    {% include header.html %}
      <section class="header-10-sub v-center">
        <div class="bckgrnd-home"></div>
        <div>
          <div class="container">
            <div class="hero-caption">
              <h5>Hello, I am</h5>
              <h1>Joe Hobson</h1>
              <h5>Front-End Developer</h5>
            </div>
            <a class="glyphicon glyphicon-chevron-down" href="#"></a>
          </div>
        </div>

      </section>
      {{ content }}


    {% include footer.html %}



