  {% include head.html %}
    {% include header.html %}
    {% if page.title == "Profile" %}
      <section class="header-sub center profile" style="height:540px;">
    {% elsif page.title == "Blog" %}
      <section class="header-sub center blog" style="height:540px;">
         {% else %}
        <p>Broken?</p>
        {% endif %}
        <div>
          <div class="container">
            <div class="hero-caption">
              {% if page.title == "Profile" %}
              <h5>I am passionate about</h5>
              <h1>Code</h1>
              <h5>and solving digital dilemmas</h5>
              {% elsif page.title == "Blog" %}
              <h5>Thoughts</h5>
              <h1>Ramblings</h1>
              <h5>Musings</h5>
              {% else %}
              <p>Broken?</p>
              {% endif %}
            </div>
          </div>
        </div>

      </section>
      {{ content }}


    {% include footer.html %}